@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root{
    --lightColor : #F2E3DB;
    --lightGreen : #41644A;
    --darkGreen : #263A29;
    --orange : #E86A33;
}
body{
    background-color:var(--lightColor);
    font-family: 'Jost';
}
ul,menu{
padding-inline-start:0;
}
header.main_top{
    margin: 20px auto;
    text-align: center;
    width: 60%;
}
header.main_top>a>img{
    width: 25%;
    height: auto;
    margin: 10px auto;
    text-align: center;
}
nav.main_top_nav{
    margin: 30px auto;
    display: flex;
    justify-content: center;

}
nav.main_top_nav>menu>li{
    display: inline;
    margin:0 -3px;
}
nav.main_top_nav>menu>li>a{
    display: inline-block;
    width: 200px;
    text-decoration: none;
    font-size: 1rem;
    color: var(--darkGreen);
    transition: 0.2s ease 0s;
    border-top: 2px solid var(--lightGreen);
    border-bottom: 2px solid var(--lightGreen);
    font-weight: bold;
}
nav.main_top_nav>menu>li>a:hover,nav.main_top_nav>menu>li>a:focus{
    border-top: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange);
    background-color: #eee;
}

.homepage{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    line-height: 1.5rem;
 }
 
.descriptionSec{
    width: 50%;
 }

 .descriptionSec>p{
    width: 90%;
    border-right: 2px solid var(--lightGreen);
    border-left: 2px solid var(--lightGreen);
    padding: 10px;
    margin: 10px auto;
 }

.descriptionSec>h4{
  text-align: center;
  color: var(--darkGreen);
  font-weight: bold;
  font-size: 2rem;
}

.newsLetterBox{
  background-color: var(--darkGreen);
  padding: 10px;
  color: var(--lightColor);
  width: 91%;
  margin: 30px auto;
  text-align: center;
}
.newsLetterBox>form{
  margin: 10px 0;
}
.newsLetterBox>form>input[type=text]{
  background-color: var(--lightColor);
  padding: 5px;
  border: 0px solid;
  width: 50%;
  font-size: 1rem;
  font-family: 'Jost';

}
.newsLetterBox>form>button{
  padding: 5.5px;
  border:1px solid var(--lightColor);
  background-color: var(--darkGreen);
  color: var(--lightColor);
  transition: 0.6s ease;
  cursor: pointer;
  font-size: 1.05rem;
}
.newsLetterBox>form>button:hover,.newsLetterBox>form>button:focus{
  background-color: var(--lightGreen);
}


.slideshowSec {
    width: 50%;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides>img{
  -webkit-box-shadow: 0px 28px 23px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 23px -18px rgba(0,0,0,0.75);
  box-shadow: 0px 28px 23px -18px rgba(0,0,0,0.75);
  width:100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.feautures{
  width: 59.5%;
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
  line-height: 1.5rem;
  border-right: 2px solid var(--lightGreen);
  border-left: 2px solid var(--lightGreen);
  text-align: center;
  color: var(--darkGreen);

} 
.feauturesIcon{
  font-size: 2rem;
  margin: 10px auto;
}
footer.mainFooter{
  width: 60%;
  margin: 40px auto;
  background-color: var(--darkGreen);
  color: var(--lightColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 28px 23px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 28px 23px -18px rgba(0,0,0,0.75);
  box-shadow: 0px 28px 23px -18px rgba(0,0,0,0.75);
}
footer.mainFooter>section.footerDescription{
  text-align: center;
}
section.footerDescription{
  width: 100%;
}
.contactUS{
  margin: 20px;
  border-bottom: 1px solid var(--lightColor);
  padding-bottom: 20px;
}
.socialSection{
  margin: 20px;
  border-bottom: 1px solid var(--lightColor);
  padding-bottom: 20px;
}
.socialSection>h6{
  font-size: 1rem;
  margin: 10px auto;
}
.socialSection>menu>li{
  display: inline;
}
.socialSection>menu>li>a{
  font-size: 1.5rem;
  color: var(--lightColor);
  margin: 0px 5px;
}
.socialSection>menu>li>a:hover,.socialSection>menu>li>a:focus{
  color: #eee;
}
.copyRight{
  font-size: 1rem;
}
.copyRight>a{
  color:var(--lightColor);
}
.copyRight>a:hover,.copyRight>a:focus{
  color:var(--lightGreen);
}
iframe.locationMap{
  width: 100% !important;
}
.requestsBox,.findOutMoreForm{
  margin: 20px auto;
  border-right: 2px solid var(--lightGreen);
  border-left: 2px solid var(--lightGreen);
}
.requestsBox{
  width: 75%;
  overflow-x:auto;
}
table{
  border-spacing: 50px 15px;
}
th{
  font-size: 0.9rem !important;
  font-weight: bold !important;
}
td{
  font-size: 0.9rem !important;
}

section.findOutMoreForm{
  text-align:center;
  margin:20px auto;
  width: 60%;
}
.findOutMoreForm>p.findOutMoreText{
  font-weight: bold;
  font-size: 1rem;  
  line-height: 1.8rem;
}
.findOutMoreForm>form>input[type=text],.findOutMoreForm>form>input[type=email],.findOutMoreForm>form>input[type=number],.findOutMoreForm>form>textarea{
  width: 80%;
  margin: 5px auto;
  font-family: 'Jost';
  border: 2px solid var(--darkGreen);
  padding: 5px;
  background-color: var(--lightColor);
  font-size: 1rem;
}
.findOutMoreForm>form>input[type=submit]{
  width: 30%;
  font-family: 'Jost';
  margin: 5px auto;
  padding: 7px;
  border: 0px solid #fff;
  background-color:var(--lightGreen);
  color: var(--lightColor);
  transition: 0.2s ease 0s;
  cursor: pointer;
  font-size: 1rem;

}
.findOutMoreForm>form>input[type=submit]:hover,.findOutMoreForm>form>input[type=submit]:focus{
  background-color: var(--darkGreen);
}
h6.formLabel{
  font-size:0.9rem !important;
}
p.inputWarning{
  display: none;
  width: 80%;
  margin: 10px auto;
  background-color: #fab1a0;
  border: 1px solid #b71540;
  color:#b71540;
  border-radius: 4px;
  padding: 10px;
}
p.inputSuccess{
  width: 80%;
  margin: 10px auto;
  background-color: #b8e994;
  border: 1px solid #218c74;
  color:#218c74;
  border-radius: 4px;
  padding: 10px;
}
select{
    width: 81.25%;
    margin: 5px auto;
    border: 2px solid var(--darkGreen);
    background: var(--lightColor);
    padding: 7px;
    font-size: 0.85rem;
}
section.creditBox{
    width: 60%;
    margin: 40px auto;
    text-align: left;
    font-weight:bold;
    line-height:2rem;
    padding: 20px 0;
    border-right:2px solid var(--darkGreen);
    border-left:2px solid var(--darkGreen);
}
section.creditBox>ul{
    padding-inline-start:20px !important;
    padding:20px;
}
section.creditBox>ul>li{
    list-style-type:none;
    margin:10px 0;
}
section.creditBox>ul>li>h4{
    text-align:center;
    font-weight:bold;
    font-size:1.5rem;
}
section.creditBox>ul>li>a{
    color:var(--lightGreen);
}
section.creditBox>ul>li>a:hover,section.creditBox>ul>li>a:focus{
    color:var(--darkGreen);
}
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
    header.main_top>a>img{
    width: 80%;
    }
    nav.main_top_nav{
        margin: 10px auto;
        display: block;
    
    }
    nav.main_top_nav>menu>li{
	margin 0 !important;
    }
    nav.main_top_nav>menu>li>a{
        margin: 5px auto;
    }
    .descriptionSec {
      width: 100%;
    }
    .homepage {
      width: 100%;
      display: block;
    }
    .slideshowSec,section.creditBox{
      width: 100%;
    }
    .newsLetterBox>form>input[type=text] {
      width: 70%;
    }
    .feautures {
      width: 100%;
      border: 0px solid #fff;
      display: block;
    }
    .feauturesList{
      margin: 30px auto;
    }
    footer.mainFooter {
      width: 100%;
      margin: 40px auto;
        display: block;

    }
    .footerDescription{
      margin: 10px auto;
      padding: 40px 0;
    }
    section.findOutMoreForm{
      width: 87.5%;
      padding: 20px;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header.main_top>a>img{
    width: 80%;
    }
    nav.main_top_nav{
        margin: 10px auto;
        display: block;
    
    }
    nav.main_top_nav>menu>li{
	margin 0 !important;
    }
    nav.main_top_nav>menu>li>a{
        margin: 5px auto;
    }
    .descriptionSec {
      width: 100%;
    }
    .homepage {
      width: 100%;
      display: block;
    }
    .slideshowSec,section.creditBox{
      width: 100%;
    }
    .newsLetterBox>form>input[type=text] {
      width: 70%;
    }
    .feautures {
      width: 100%;
      border: 0px solid #fff;
      display: block;
    }
    .feauturesList{
      margin: 30px auto;
    }
    footer.mainFooter {
      width: 100%;
      margin: 40px auto;
        display: block;

    }
    .footerDescription{
      margin: 10px auto;
      padding: 40px 0;
    }
    header.main_top>a>img{
      width: 70%;

    }
    section.findOutMoreForm{
      width: 80%;
      padding: 10px;
    }

}
 
